header, footer
{
  text-align: center;
}

body
{
  background: grey;
  color: pink;
  font-family: 'Pompiere', sans-serif;
  font-size: 25px;
  line-height: 150%;
  padding-left: 50px;
  padding-right: 50px;
}

h1, h2, h3, h4, h5
{
  font-family: 'Delius Unicase';
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

a:link
{
	color: black;
}

a:visited
{
	color: white;
}

a:hover
{
	color: mediumvioletred;
}

dt
{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

dd
{
  margin: 0;
  padding: 0 0 0.5em 0;
  margin-bottom: 20px;
}

strong
{
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
}

.image
{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
 }

.qa
{
  border: 3px dotted pink;
  border-radius: 25px;
  padding: 20px;
}

.qasmall
{
  margin: auto;
  border: 3px dotted pink;
  border-radius: 25px;
  padding: 20px;
  width: 70%;
}

#myselfie
{
  text-align: center;
  color: white;
  font-style: italic;
}

#image
{
  text-align: center;
  margin: auto;
}

#copyright
{
	text-align:center;
	color: white;
	font-style:italic;
	font-size:70%;
}
