body
{
  background: white;
  color: #FE69A5;
  font-family: arial, sans-serif;
  width: 80%;
  margin:auto;
}

h1, h2, h3, h4, h5
{
  font-family: fantasy, sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: black;
}


header, footer
{
  text-align: center;
  color: black;
  border: dotted grey 2px;
  border-width: 1px;
  margin: auto;
  width: 45%;
  padding: 2px;
}


#copyright
{
	text-align:center;
	color: black;
	font-style:italic;
	font-size:70%;
}